Options -Indexes
DirectoryIndex index.html

<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
</IfModule>

<FilesMatch "\.(html|htm|png|jpg|jpeg|webp|css|js|ico|svg)$">
  Require all granted
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteCond %{HTTPS} !=on
  RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
</IfModule>
